/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: fixed;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: fixed;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
